# Este é um arquivo de exemplo.
# Renomeie este arquivo para ".env" e preencha com sua própria chave de API.
# O arquivo .env NUNCA deve ser enviado para o GitHub.

OPENAI_API_KEY="insira_sua_chave_da_api_da_openai_aqui"
